* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#logo{
    position: absolute;
    height: 5vh;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}

header {
    background-color: #0B8843;
    background-image: url(./images/fundo.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100vh;
    min-height: 42vh;
    margin-bottom: 2rem;
}

#logo{
    position: absolute;
    height: 5vh;
    padding: 0.2rem;
}

.header-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    transform: translateY(25%);
    width: 100%;
}

h1 {
    font-family: 'Arial black';
    font-size: 4rem;
    color: antiquewhite;
    margin-top: 4vh;
    margin-bottom: 2vh;
}

#input {
    background-color: transparent;
    display: flex;
    max-width: 900px;
    width: 100%;
    margin: 1rem;
    margin-bottom: 2rem;
    transform: translateX(2%);
}

#search {
    background-color: antiquewhite;
    width: 100%;
    padding: 1rem;
    font-size: 2rem;
    border-radius: 10px;
    outline: none;
}

#lupa {
    height: 50px;
    transform: translate(-120%,20%);
    background-color: transparent;
}

main {
    flex: 1;
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#characters-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 550px;
    margin: 2rem ;
    border-radius: 10px;
    background-color: #0B8843;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.horizontal-line {
    width: 67%;
    height: 1px;
    background-color: #0B8843;
    margin: 1rem;
}

.character-image {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    width: 200px;
}

.character-info {
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.character-info h2 {
    font-size: 1.25rem;
}

.character-info h3 {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.6;
    font-weight: bolder;
}

#pages-container {
    display: flex;
    justify-content: center;
    gap: 1.75rem;
    font-size: 1.25rem;
}

#pages-container button {
    font-size: 1.25rem;
    background: transparent;
    cursor: pointer;
    color: #44281d;
}

#pages-container button:hover {
    text-shadow: 0px 0px 1px #0B8843;
}

#pages {
    display: flex;
    gap: 0.875rem;
}

#portal {
    height: 50vh;
}

footer {
    background-color: #0B8843;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: antiquewhite;
}

#api-info {
    width: 500px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

#dev-info {
    margin-top: 2rem;
}